<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <div class="box">
        <nav>
            <ul>
                <li><a href="entrar.html" style=" border-bottom: 1px solid rgb(255, 40, 112); font-weight: bold;">Entrar</a></li>
                <li><a href="registrar.html" style="opacity: 0.4;">Registrar</a></li>
            </ul>
        </nav>
        <form id="logar">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,}$" title="A senha deve conter no mínimo 6 caracteres com pelo menos uma letra maiúscula e um símbolo." required>
            <div class="botao">
                <input id="btn" type="submit" value="Entrar" style="font-weight: bold">
                <span>Esqueceu a senha?</span>
            </div>
        </form>
    </div>
</body>
<script src="script.js"></script>
</html>