<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Registrar</title>
</head>
<body>
    <div class="box">
        <nav>
            <ul>
                <li><a href="entrar.html" style="opacity: 0.4">Entrar</a></li>
                <li><a href="registrar.html" style=" border-bottom: 1px solid rgb(255, 40, 112); font-weight: bold;">Registrar</a></li>
            </ul>
        </nav>
        <form id="registrar" style="margin: 25px auto">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" required>
            <label for="sobrenome">Sobrenome</label>
            <input type="text" name="sobrenome" id="sobrenome" required>
            <label for="nascimento">Data de nascimento</label>
            <input type="date" name="nascimento" id="nascimento" required>
            <div class="botao">
                <input id="btn" type="submit" value="Registrar-se">
            </div>
        </form>
    </div>
</body>
<script src="script.js"></script>
</html>